{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>KEM'EAT</h1>
        <h2>Restaurant en ligne</h2>
    </header>

    

{% endblock %}

        

