{% extends 'base.html.twig' %}

{% block title %}Edit Plat{% endblock %}

{% block body %}
    <h1>Edit Plat</h1>

    {{ include('admin_plat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_plat_index') }}">back to list</a>

    {{ include('admin_plat/_delete_form.html.twig') }}
{% endblock %}
